body {
    font-size: 16px;
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

body {
    background-image: url("../background-images/Screenshot_2026-01-08_02-30-03.png"); /* Replace with your image path */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    }

.headers {
    display: block;
    width: 500px;
    font-weight: bolder;
    text-align: center;
    margin: 4px 2px;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 7px 10px 0 rgba(0,0,0,0.5);
}

.red {
    background-color: rgb(207, 23, 23);
}

.odin {
    background-color: rgb(184, 184, 184);
}

.buttons {
    font-weight: bolder;
    color: rgb(255, 236, 236);
    width: 300px;
    padding: 15px 25px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    text-align: center;
    border-radius: 8px; 
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.5);
}

.green {
    background-color: #009700;
}

.blue {
    background-color: rgb(37, 37, 201);
}

.red {
    background-color: rgb(207, 23, 23);
}

.buttons.green:hover {
    background-color: #00c01a;
    cursor: pointer;
}

.buttons.blue:hover {
    background-color: rgb(0, 47, 255);
    cursor: pointer;
}

.buttons.red:hover {
    background-color: #fc1c1c;
    cursor: pointer;
}
