body {
    font-size: 18px;
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

.container {
    position: relative; /* The image will be positioned relative to this container */
    width: 400px;
    height: 200px;
    border: 2px solid red;
}

.moved-image {
    position: absolute; /* Takes the image out of normal flow */
    top: 50px;         /* Moves 50px from the top of the container */
    left: 30px;        /* Moves 30px from the left of the container */
    width: 100px;
}

section h3 {
    color: #8B0000; /* DarkRed */
    background-color: rgb(255, 145, 0);
    display: block;
    width: auto;
    padding: 16px 10px;
    margin: 4px 8px;
    text-align: center;
}

h2 {
    color: #c50505; /* DarkRed */
    background-color: rgb(58, 110, 255);
    display: block;
    width: auto;
    padding: 16px 10px;
    margin: 4px 8px;
    text-align: center;
}

section h4 {
    color: green;
}

section li {
    color: blue;
}

body {
    background-image: url("../background-images/Screenshot_2026-01-08_02-30-03.png"); /* Replace with your image path */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    }

.headers {
    display: block;
    width: 500px;
    font-weight: bolder;
    text-align: center;
    margin: 4px 2px;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 7px 10px 0 rgba(0,0,0,0.5);
}

.red {
    background-color: rgb(207, 23, 23);
}

.odin {
    background-color: rgb(184, 184, 184);
}

.buttons {
    font-weight: bolder;
    color: rgb(255, 236, 236);
    width: 300px;
    padding: 15px 25px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    text-align: center;
    border-radius: 8px; 
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.5);
}

.green {
    background-color: #009700;
}

.blue {
    background-color: rgb(37, 37, 201);
}

.red {
    background-color: rgb(207, 23, 23);
}

.greys {
    background-color: grey;
}

.buttons.green:hover {
    background-color: #00c01a;
    cursor: pointer;
}

.buttons.blue:hover {
    background-color: rgb(0, 47, 255);
    cursor: pointer;
}

.buttons.red:hover {
    background-color: #fc1c1c;
    cursor: pointer;
}

.buttons.greys:hover {
    background-color: rgb(167, 167, 167);
}
